body{
	background-color: papayawhip;
}
h1{
	color: darkslateblue;
	font-size: 70px;
	text-decoration: line-through;
}
h2{
	font-size: 40px;
	color: grey;
}
#first{
	font-size: 99px;
}
.small{
	font-size: 22px;
}
span{
	font-style: italic;
	color: hotpink;
}
h2 span{
	text-decoration: underline;
}